<div class="text-center">
  <h2>{{project.name}}</h2>
 
  <p>{{project.description}}</p>
  <p>Created by {{project.shopper_name}} on {{format_date project.date_created}}</p>
  <p>
    <span for="img" aria-label="money">#</span>
    <span class="item-amount">{{format_amount project.needed_funding}}</span>
    needed
  </p>
  <p>
    <button class="btn btn-primary">Donate PPE Items</button>
  </p>
</div>