
 
<div class="container">
    <h2>PPE Products</h2>
    {{#each products as |product|}}
    <div class="row">
        <div class="col-md-3">
            <div class="product-top">
                
                <h1 class="productTitle">{{product.title}}</h1>
                <p class="productDes">{{product.description}}</p>
                <img class="productImg" src="/assets/{{product.filename}}" alt="{{product.description}}">
               
            </div>
        </div>
    </div>
 {{/each}}
        

    
    <div class="row">
  <div class="col-auto">
    <h2>Create a New Order</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <p>Please fill out the fields below, and click the "request" button to submit your charitable requests for one product at a time. Once submitted your request(s) will appear to the right of these input fields.</p>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Product requested:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-funding">Quantity requested:</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <div class="form-group">
        <label for="project-desc">Organization name and description of why PPE products are needed:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Request</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Requests:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
          {{!-- we need the delete buttons to remove the data --}}
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

</div>
<script src="/js/profile.js"></script>


