
 
<div class="gallery">
  <figure>
    <h3>Facemask</h3>
    <img src="/assets/FaceMask.png" alt="" />
    <h3>100% spun bond polypropylene and double layered.</h3>
  </figure>
  <figure>
    <h3>Face Shield</h3>
    <img src="/assets/FaceShield.png" alt="" />
    <h3>Medical grade, plastic and non-fogging. Lightweight and durable. Provides clear visability.</h3>
  </figure>
  <figure>
    <h3>Hand Sanitizer</h3>
    <img src="/assets/HandSanitizer.png" alt="" />
    <h3>Kills 99% of germs. 8 fluid-ounces. Easy and convenient to use.</h3>
  </figure>
  <figure>
    <h3>Medical Gloves</h3>
    <img src="/assets/MedicalGloves.png" alt="" />
     <h3>Disposable Nitrile gloves. Good chemical, oil and solvent resistance. Touch screen compatible. Size Medium.</h3>
  </figure>
  <figure>
    <h3>Sanitizer Wipes</h3>
    <img src="/assets/SanitizerWipes.png" alt="" />
     <h3>Wet sanitizing wipes. Fragrance free. 75% alcohol and pure water formula. 80 count.</h3>
  </figure>
  <figure>
    <h3>Toilet Paper</h3>
    <img src="/assets/ToiletPaper.png" alt="" />
     <h3>The best toilet paper on the planet, Luke says.</h3>
  </figure>
        

    <footer>
    <div class="row">
  <div class="col-auto">
    <h2>Create a New Order</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <p>Please fill out the fields below, and click the "request" button to submit your charitable requests for one product at a time. Once submitted your request(s) will appear to the right of these input fields.</p>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Product requested:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-funding">Quantity requested:</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <div class="form-group">
        <label for="project-desc">Organization name and description of why PPE products are needed:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Request</button>
      </div>
    </form>
  </div>
  <div class="data">
    
      <h2>COVID-19 Data:</h2>
      <p>Confirmed: {{json.confirmed}}</p>
      <p>Recovered: {{json.recovered}}</p>
      <p>Critical: {{json.critical}}</p>
      <p>Deaths: {{json.deaths}}</p>
      
    </div>
  </footer>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Requests:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
          {{!-- we need the delete buttons to remove the data --}}
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

</div>
<script src="/js/profile.js"></script>



